.chatingPage {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    width: inherit;
    border-bottom-right-radius: var(--border-radius-appBox);
    border-top-right-radius: var(--border-radius-appBox);
    background-color: var(--color-pink);
    position: relative;
}

.chatingPage_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    color: var(--color-green);
    position: relative;
}

.chatingPage_header h1 {
    position: absolute;
    left: 40%;
    font-size: 20px;
    font-weight: 600;
}

.chatingPage_main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 20px;
}

.date {
    align-self: center;
    width: 250px;
    height: 50px;
    margin: 15px 0;
    border-radius: 20px;
    background-color: rgba(163, 79, 149, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.memo {
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: antiquewhite;
    color: rgba(1, 1, 1, 0.6);
}

.memo-marked {
    background-color: var(--color-orange);
    border: 3px solid var(--color-lgreen);
    align-self: flex-start;
}


.reply {
    width: 100%;
    height: 50px;
    background-color: var(--color-lgreen);
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: var(--border-radius-appBox);
}

.reply_form {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.reply input {
    border: none;
    width: 85%;
    height: 25px;
    margin: 0 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.reply i {
    color: var(--color-green);
}