.indexPage {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;
}

.indexPage_searchInput {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexPage_searchInput input {
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}

.searchIcon {
    color: var(--color-green);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchIcon i {
    position: absolute;
    right: 15px;
}