.indexPage {
    height: var(--height-appbox);
    grid-column: 1/2;
    display: grid;
    grid-template-columns: var(--colunm-size) 1fr var(--colunm-size) 1fr var(--colunm-size);
    grid-template-rows: 1fr 2fr var(--colunm-size) 2fr var(--colunm-size);

}

.indexPage_searchInput {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.indexPage_searchInput input {
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}

.searchIcon {
    color: var(--color-green);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchIcon i {
    position: absolute;
    right: 20px;
}

.fa-home {
    color: var(--color-pink);
}