@import "reset.css";
@import "variables.css";
@import "idexPage.css";
@import "login.css";
@import "nav.css";
@import "chat.css";
@import "todolist.css";

@import "hidden.css";


body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appBox {
    width: 80%;
    height: 80vh;
    display: grid;
    background-color: var(--color-bg);
    grid-template-columns: 100px 1fr;
    border-radius: var(--border-radius-appBox);
    margin: 10px 0;
}

main {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

button {
    background-color: var(--color-ornage);
    border: none;
    border-radius: 10px;
}
