:root {
    --height-appbox: 750px; 
    --border-radius-appBox: 40px;
    --color-body: #FFD6B0;
    --color-bg: #FFF5EA;
    --color-lgreen: #3DA2A1;
    --color-green: #01616a;
    --color-orange: #fbbd2e;
    --color-dkorange: #ef9f3c;
    --color-pink: #ffcac7;
}