.indexPage_weatherDday {
    grid-column: 4/5;
    grid-row: 3/4;
    margin-top: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.weather,
.dDay {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 15px;
    background-color: var(--color-orange);
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.dDay {
    background-color: var(--color-green);
}

.dDay_text,
.weather_text {
    display: flex;
    flex-direction: column;
}

.dDay_text h1,
.weather_text h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-bg);
    margin-bottom: 10px;
}

.dDay_text span,
.weather_text span {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 13px;
    color: var(--color-bg);
    margin-bottom: 5px;
}

#weatherI,
#tree {
    position: absolute;
    font-size: 50px;
    right: 20px;
    bottom: 15px;
    opacity: 0.6;
}