@import "../reset.css";
@import "../variables.css";
@import "../idexPage.css";
@import "../nav.css";
@import "../chat.css";
@import "../quotes.css";
@import "../background.css";


@import "canvas.css";


* {
    font-family: 'Nunito Sans', sans-serif;
}

/*
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Nunito Sans', sans-serif;
*/


body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: overlay;
}



#clock {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-green);
    align-self: center;
}

/* @keyframes scaleChange {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: none;
    }
} */

#appBox {
    width: 79.9%;
    min-width: 800px;
    height: var(--height-appbox);
    display: grid;
    background-color: var(--color-bg);
    grid-template-columns: 100px 1fr;
    border-radius: var(--border-radius-appBox);
    margin: 10px 0;
    /* animation: scaleChange 2.5s ease-in-out forwards; */
}

main {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

button {
    background-color: var(--color-ornage);
    border: none;
    border-radius: 10px;
}

#changeBgBtn {
    width: 150px;
    height: 30px;
    position: absolute;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: var(--color-bg);
    color: var(--color-green);
    top: 20px;
    right: 20px;

}

button:hover {
    transform: scale(1.1);
}

.drawingIcon {
    color: var(--color-pink);
}