.chatPage_main {
    display: grid;
    grid-template-columns: var(--colunm-size) 1fr var(--colunm-size)1fr var(--colunm-size)1fr;
    grid-template-rows: var(--colunm-size)1fr var(--colunm-size) 1fr var(--colunm-size);
}


.chatPage_memoLists_box {
    grid-column: 2/3;
    grid-row: 2/-2;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--color-orange);
    border-radius: var(--border-radius-mini);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chatPage_memoLists_box h2 {
    font-size: 20px;
    font-weight: bolder;
    margin: 15px 0;
}

.chatPage_memoLists {
    width: 90%;
    height: 90%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    overflow: overlay;
    margin-bottom: 5px;
}

.chatPage_memoList {
    width: 85%;
    height: 65px;
    margin: 3px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--color-lgreen);
    border-radius: 15px;
}

.chatPage_memoList_i {
    text-align: center;
    background-color: var(--color-orange);
    padding: 8px;
    border-radius: 8px;
    margin-right: 10px;
}

.chatPage_memoList_text h4 {
    font-weight: 600;
}