    .indexPage_login,
    .indexPage_login_user,
    .indexPage_login_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .indexPage_login,
    .indexPage_login_form,
    .indexPage_login_user {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        min-width: 250px;
        height: 100%;
    }

    @keyframes vibration {
        from {
            transform: rotate(1deg);
        }

        to {
            transform: rotate(-1deg);
        }
    }

    /*로그인 전*/
    .indexPage_login_form {
        background-color: var(--color-pink);
        border-radius: var(--border-radius-mini);
        animation: vibration 0.1s infinite;
        animation-delay: 3s;
    }

    .indexPage_login_form:hover {
        animation: none;
    }

    .indexPage_login_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .indexPage_login_form span {
        color: var(--color-green);
        font-weight: 600;
    }

    .indexPage_login_form>input,
    .indexPage_login_form>button {
        border: none;
        border-radius: 10px;
        margin: 10px;
        padding: 0 10px;
        height: 30px;
    }


    /*로그인 후*/
    .indexPage_login_user {
        animation: showUp 0.2s forwards;
    }

    .indexPage_login_user img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        margin: 8px 0;
    }

    .indexPage_login_user h2 {
        font-size: 20px;
        margin: 15px 0;
    }


    .indexPage_login_form>button,
    .indexPage_login_user button {
        width: 50%;
        height: 30px;
        border: none;
        background-color: var(--color-lgreen);
        color: whitesmoke;
    }