.nav {
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: var(--color-lgreen);
    border-bottom-left-radius: var(--border-radius-appBox);
    border-top-left-radius: var(--border-radius-appBox);
    width: var(--nav-width);
    height: var(--height-appbox);
    min-height: var(--height-min-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__list {
    width: 100%;
    height: 100%;
}

.nav__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__list a {
    width: 80px;
    display: flex;
    justify-content: center;
    color: var(--color-green);
}

.nav__btn {
    width: 100%;
    height: 100px;
    overflow: hidden;
}