@import "reset.css";
@import "variables.css";


@import "indexPage.css";

@import "login.css";
@import "nav.css";
@import "chat.css";
@import "todolist.css";
@import "weatherAndDDay.css";
@import "memoList.css";
@import "quotes.css";
@import "background.css";

@import "snowflake.css";

@import "profile/profile.css";
@import "./chatpage/chatPage.css";
@import "more/morePage.css";

@import "hidden.css";


* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    color: var(--color-green);
}

/*
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Nunito Sans', sans-serif;
*/


body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: overlay;
}



#clock {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
    font-weight: 600;
    align-self: center;
}

@keyframes scaleChange {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

#appBox {
    width: 65%;
    min-width: 1000px;
    max-width: 1000px;
    height: var(--height-appbox);
    min-height: var(--height-min-size);
    display: grid;
    margin: 10px 0;
    background-color: var(--color-bg);
    grid-template-columns: var(--nav-width) 1fr;
    border-radius: var(--border-radius-appBox);
    animation: scaleChange 1s ease-in-out forwards;
}

main {
    height: var(--height-appbox);
    min-height: var(--height-min-size);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 7fr 3.5fr;
}

button {
    background-color: var(--color-ornage);
    border: none;
    border-radius: 10px;
}

#changeBgBtn {
    width: 150px;
    height: 30px;
    position: absolute;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: var(--color-bg);
    top: 20px;
    right: 20px;

}

button:hover {
    transform: scale(1.1);
}